/*------------------------------------*\
    #PAGE
\*------------------------------------*/


html {
    background: url("../images/innes-bg.jpg") no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: #fff;
    font-family: Dewnrger, "Frutiger W01", Helvetica, Arial, sans-serif;
}
