/* Global variables, referenced by multiple SCSS files. */
/* National Parks */

/* Regional prefixes */
$region: npsa;

/* Colours */
$main-brand-color: #08713e;
$pale-brand-color: #08713e;  //#cee3d8
$light-brand-color: lighten($main-brand-color, 10%);
$text-color: #08713e; //#333;
$dark-background-color: #666;
$pale-background-color: #fff;
