/*------------------------------------*\
    #QUICKJUMP-NAVIGATION
\*------------------------------------*/


// Make sure the "module" extend-only component is included before this content.

@import "components.nav";


/*nav*/.quickjump-navigation {
    @extend %nav;

    margin: 0 auto;
}

    /*li*/.quickjump-navigation__item {
        @extend %nav__item;

        padding: 0 80px;
        display: inline-block;
    }


    /*a*/.quickjump-navigation__link {
        @extend %nav__link;

        font-size: 30px;

        i {
            height: 320px;
            margin: 0.4em auto 1em;
            width: 320px;
        }
    }
