/*------------------------------------*\
    #SITE-HEADER
\*------------------------------------*/


/*div*/.site-header {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}
